
@model PhoneContact
@{
    var Contactid = ViewBag.ContactId;
}
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>ثبت شماره تلفن</strong>
    </h5>

    <!--Card content-->
    <div class="card-body col-md-6">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="CreatePhoneContact" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="contactid" value=@Contactid type="hidden" />

            <!-- Name -->
            <div class="md-form mt-3">
                <input placeholder="شمارموبایل" asp-for="PhoneNumber" type="number" id="materialSubscriptionFormPasswords" class="form-control">
                <label for="materialSubscriptionFormPasswords"></label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">ثبت شماره موبایل</button>

        </form>
        <!-- Form -->

    </div>

</div>


